*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4f46e5,#06b6d4);
padding:20px;
}

.quiz-box{
width:420px;
background:white;
padding:30px;
border-radius:25px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
text-align:center;
}

h1{
color:#4338ca;
margin-bottom:20px;
}

h2{
font-size:24px;
margin-bottom:20px;
color:#1e293b;
}

#options{
display:grid;
gap:12px;
}

#options button{
padding:15px;
border:none;
border-radius:14px;
font-size:17px;
font-weight:600;
cursor:pointer;
background:#4338ca;
color:white;
transition:.2s;
}

#options button:hover{
transform:scale(1.03);
background:#312e81;
}

#next{
margin-top:20px;
padding:14px 25px;
border:none;
border-radius:14px;
background:#06b6d4;
color:white;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

#progress{
margin-top:15px;
font-size:18px;
font-weight:bold;
color:#475569;
}